body{
    background-color: rgb(232, 167, 221);
    color:blueviolet;
    font-family: "Fascinate", system-ui;
}
header{
    font-size: 60px;
    border: Roundest 5px blueviolet;
}
h1{
    font-size: 30px;
}
p{
    font-size: 20px;
}