body{
    background-color: rgb(232, 167, 221);
    color:blueviolet;
    font-family: "Fascinate", system-ui;
    margin: 0px;
}
header{
    font-size: 60px;
    border: dashed 5px blueviolet;
    text-align: center;
    /*margin: 30px;*/
    padding: 30px;
}
h1{
    font-size: 30px;
}
p{
    font-size: 20px;
}

.chamada{
    background-color: rgb(232, 167, 221);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;

}

.chamada-texto{
    margin-right: 10%;
}
img{
    width: 200px;
    height: 300px;
}

.Outrasideias{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-left: 20px;
}

h2{
    padding-left: 30px;
}

body{
    padding-bottom: 40px;
}